.sheet-wrapper {
    background: #010138;
    padding: 16px;
}
.palette {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 16px;
}
.palette-group {
    display: flex;
}
.palette-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.palette-text {
    color: #fff;
    width: 50px;
    font-size: 12px;
    padding-left: 8px;
}
