{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "semi": true,
    "endOfLine": "auto",
    "embeddedLanguageFormatting": "auto",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css"
}
